Project/dist/
Project/Games/
Project/electron-builder.yml
Project/node_modules/
Project/VersionsFiles/
Project/out/
.vscode/
Project/yarn-error.log
.idea/
Project/js.js.old
Project/ChangesLogs
Project/connected.txt