Launcher/dist/
Launcher/Games/
Launcher/electron-builder.yml
Launcher/node_modules/
Launcher/VersionsFiles/
Launcher/out/
.vscode/
Launcher/yarn-error.log
.idea/
Launcher/js.js.old
Launcher/ChangesLogs
Launcher/connected.txt
.DS_Store
