body{
    animation : fadeIn 0.5s;
}
.progressBarLAATIM {
    text-align: center;
}

/*#region Loading*/

.lds-roller {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 40px 40px;
}

.lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #fff;
    margin: -4px 0 0 -4px;
}

.lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
}

.lds-roller div:nth-child(1):after {
    top: 63px;
    left: 63px;
}

.lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
}

.lds-roller div:nth-child(2):after {
    top: 68px;
    left: 56px;
}

.lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
}

.lds-roller div:nth-child(3):after {
    top: 71px;
    left: 48px;
}

.lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
}

.lds-roller div:nth-child(4):after {
    top: 72px;
    left: 40px;
}

.lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
}

.lds-roller div:nth-child(5):after {
    top: 71px;
    left: 32px;
}

.lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
}

.lds-roller div:nth-child(6):after {
    top: 68px;
    left: 24px;
}

.lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
}

.lds-roller div:nth-child(7):after {
    top: 63px;
    left: 17px;
}

.lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
}

.lds-roller div:nth-child(8):after {
    top: 56px;
    left: 12px;
}

@keyframes lds-roller {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/*#endregion*/

/*#region GameCard*/

.cards-list {
    z-index: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card {
    margin: 30px auto;
    width: 300px;
    height: 380px;
    border-radius: 40px;
    box-shadow: 5px 5px 10px 7px rgba(0, 0, 0, 0.25), -5px -5px 10px 7px rgba(0, 0, 0, 0.22);
    cursor: pointer;
    transition: 0.4s;
}

.card .card_image {
    width: inherit;
    height: inherit;
    border-radius: 40px;
}

.card .card_image img {
    width: inherit;
    height: inherit;
    border-radius: 40px;
    object-fit: cover;
}

.card .card_title {
    text-align: center;
    border-radius: 0px 0px 40px 40px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 30px;
    margin-top: -80px;
    height: 40px;
  }

.card:hover {
    transform: scale(0.9, 0.9);
    box-shadow: 5px 5px 30px 15px rgba(0, 0, 0, 0.25), -5px -5px 30px 15px rgba(0, 0, 0, 0.22);
}

.title-white {
    color: white;
}

.title-black {
    color: black;
}

/*#endregion*/
@-webkit-keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  .fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
  }
/*#region Overlay*/

#overlay {
    position: fixed;
    /* Sit on top of the page content */
    display: none;
    /* Hidden by default */
    width: 100%;
    /* Full width (cover the whole page) */
    height: 100%;
    /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.658);
    /* Black background with opacity */
    z-index: 2;
    /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer;
    /* Add a pointer on hover */
}

#textoverlay {
    position: absolute;
    font-family: 'Oswald', sans-serif;
    font-size: 14px;
    top: 50%;
    left: 50%;
    font-size: 50px;
    color: white;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

/*#endregion*/

.container {
    text-align: center;
}

.paraTXTLA, .paraTXTWR, .paraTXTSF, .paraTXTSGB, .paraTXTSN, .paraTXTTB, .paraTXTLAATIM, .paraTXTTTD, .paraTXTVITF {
    text-align: right;
}

.spaceX2 {
    margin-top: 160px;
    text-align: center;
}

.btnnl {
    text-align: center;
    width: 40%;
}

.btntxt {
    font-size: 22px;
    font-family: 'Oswald', sans-serif;
}

.spaceX {
    margin: 10px;
}

h3 {
    color: dodgerblue;
    font-weight: bold;
    font-family: 'Oswald', sans-serif;
    text-align: center;
}

html {
    background-color: #212121;
}

h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 44px;
    text-align: center;
    color: white;
}

p {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 28px;
    text-align: center;
    margin: 20px;
    color: white;
}

a {
    text-decoration: none;
    font-family: "Arial", monospace;
    font-size: 24px;
}

h2 {
    color: white;
    text-align: center;
    font-size: 34px;
    font-family: 'Oswald', sans-serif;
}

h4 {
    color: white;
    size: 24px;
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
}

/*#region header*/

ul {
    animation: zoomInDown 1s;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: visible;
    background-color: #ffffff;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 2;
    font-family: 'Oswald', sans-serif;
    background-color: #212121;
}

li {
    margin-top: 15px;
    float: right;
}

li a {
    display: inline-block;
    color: white;
    text-align: right;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
}

li a:hover {
    color: #80c0ff;
}

.logonav {
    margin-top: 5px;
    width: 35%;
}

ul li:hover>ul {
    visibility: visible;
}

ul ul, ul ul li ul {
    list-style: none;
    margin: 0;
    padding: 0;
    visibility: hidden;
    position: absolute;
    width: 180px;
    background-color: dodgerblue;
}

ul ul {
    top: 80px;
}

ul ul li ul {
    top: 0px;
    left: 180px;
}

ul ul li a {
    float: left;
    width: 150px;
    color: white;
}

/*#endregion*/

.paralaxHome h1 {
    padding-top: 5%;
}

.redimhome {
    box-sizing: border-box;
    position: relative;
    margin: auto;
    width: 100%;
    overflow: hidden;
    text-align: center;
}

.redimhome img {
    max-width: 100%;
    transition: all .8s;
    display: block;
    width: 100%;
    height: auto;
    transform: scale(1);
}

.redimhome2:hover img {
    transform: scale(1.5);
}

ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.paraTXTAE {
    text-align: right;
}

.paraTXTFWD {
    text-align: right;
}

/*#region ChangesLogs*/

.updated {
    cursor: default;
    color: #ffc107;
    font-weight: 600;
    font-size: 18px;
    padding-left: 0.9375rem;
    padding-top: 0.4375rem;
    padding-right: 0.9375rem;
    padding-bottom: 0.4375rem;
    background-color: rgba(255, 193, 7, 0.1);
    ;
    border-color: transparent;
    border-radius: 0.5rem;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    line-height: 1.5;
    margin-right: 10px;
}

.new {
    cursor: default;
    color: #377dff;
    font-weight: 600;
    font-size: 18px;
    padding-left: 0.9375rem;
    padding-top: 0.4375rem;
    padding-right: 0.9375rem;
    padding-bottom: 0.4375rem;
    background-color: rgba(55, 125, 255, 0.1);
    border-color: transparent;
    border-radius: 0.5rem;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    line-height: 1.5;
    margin-right: 10px;
}

.fixed {
    cursor: default;
    color: #de4437;
    font-weight: 600;
    font-size: 18px;
    padding-left: 0.9375rem;
    padding-top: 0.4375rem;
    padding-right: 0.9375rem;
    padding-bottom: 0.4375rem;
    background-color: rgba(222, 68, 55, 0.1);
    border-color: tranrgba(160, 73, 65, 0.1);
    border-radius: 0.5rem;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    line-height: 1.5;
    margin-right: 10px;
}

.enhanced {
    cursor: default;
    color: #00c9a7;
    font-weight: 600;
    font-size: 18px;
    padding-left: 0.9375rem;
    padding-top: 0.4375rem;
    padding-right: 0.9375rem;
    padding-bottom: 0.4375rem;
    background-color: rgba(0, 201, 167, 0.1);
    border-color: transparent;
    border-radius: 0.5rem;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    line-height: 1.5;
    margin-right: 10px;
}

/*#endregion*/

.column {
    float: center;
    width: 30%;
    padding: 8px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
    text-align: center;
}

.columnS {
    float: left;
    width: 20%;
    padding: 8px;
}

.rowS::after {
    content: "";
    clear: both;
    display: table;
}

.IMGBGLAATIM {
    background-image: url("Ressources/IMGLAATIM.png");
}

@media only screen and (max-width: 1680px) {
    .progressBarLAATIM {
        text-align: center;
    }
    .column {
        width: 30%;
    }
    .paralaxLAATIM {
        min-height: 50px;
    }
    .card {
        margin: 30px auto;
        width: 300px;
        height: 200px;
        border-radius: 40px;
        box-shadow: 5px 5px 10px 7px rgba(0, 0, 0, 0.25), -5px -5px 10px 7px rgba(0, 0, 0, 0.22);
        cursor: pointer;
        transition: 0.4s;
    }
    /*#region common*/
    a {
        text-decoration: none;
        font-family: "Arial", monospace;
        font-size: 15px;
        font-family: 'Roboto Condensed', sans-serif;
    }
    p {
        font-size: 18px;
    }
    h2 {
        text-align: center;
        font-size: 24px;
        font-family: 'Oswald', sans-serif
    }
    h1 {
        font-family: 'Oswald', sans-serif;
        font-size: 26px;
        text-align: center;
        color: white;
    }
    /*#endregion*/
    /*#region header*/
    ul {
        animation: zoomInDown 1s;
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: visible;
        background-color: #ffffff;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 2;
        font-family: 'Oswald', sans-serif;
        background-color: #212121;
    }
    li {
        margin-top: 15px;
        float: right;
    }
    li a {
        display: inline-block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }
    li a:hover {
        color: #80c0ff;
    }
    .logonav {
        margin-top: 5px;
        width: 35%;
    }
    ul li:hover>ul {
        visibility: visible;
    }
    ul ul, ul ul li ul {
        list-style: none;
        margin: 0;
        padding: 0;
        visibility: hidden;
        position: absolute;
        width: 180px;
        background-color: dodgerblue;
    }
    ul ul {
        top: 80px;
    }
    ul ul li ul {
        top: 0px;
        left: 180px;
    }
    ul ul li a {
        float: left;
        width: 150px;
        color: white;
    }
    /*#endregion*/
}

/*#region progress*/

#myProgress {
    width: 100%;
    background-color: #333333;
}

#myBar {
    width: 0%;
    height: 30px;
    background-color: #008C3F;
    color: #ffffff;
    font-family: 'Oswald', sans-serif;
}

#ProgressAchSGB {
    width: 100%;
    background-color: #333333;
}

#BarAchSGB {
    width: 0%;
    height: 30px;
    background-color: #008C3F;
    color: #ffffff;
    font-family: 'Oswald', sans-serif;
}

#ProgressAchLAATIM {
    width: 100%;
    background-color: #333333;
}

#BarAchLAATIM {
    width: 0%;
    height: 30px;
    background-color: #008C3F;
    color: #ffffff;
    font-family: 'Oswald', sans-serif;
}

#ProgressAchSNRE {
    width: 100%;
    background-color: #333333;
}

#BarAchSNRE {
    width: 0%;
    height: 30px;
    background-color: #008C3F;
    color: #ffffff;
    font-family: 'Oswald', sans-serif;
}

/*#endregion*/

/*#region button*/

div[class*=box] {
    height: 33.33%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    line-height: 50px;
    height: 50px;
    text-align: center;
    width: 250px;
    cursor: pointer;
}

.btn-three {
    color: #FFF;
    transition: all 0.5s;
    position: relative;
}

.btn-three::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.1);
    transition: all 0.3s;
}

.btn-three:hover::before {
    opacity: 0;
    transform: scale(0.5, 0.5);
}

.btn-three::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s;
    border: 1px solid rgba(255, 255, 255, 0.5);
    transform: scale(1.2, 1.2);
}

.btn-three:hover::after {
    opacity: 1;
    transform: scale(1, 1);
}

.btnD {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    line-height: 50px;
    height: 50px;
    text-align: center;
    width: 250px;
    cursor: not-allowed;
}

/*#endregion*/

/*#region PopUp*/

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: scroll;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
    padding-top: 60px;
    padding-bottom: 60px;
}

/* Modal Content/Box */

.modal-content {
    background-color: #212121;
    margin: 5% auto 15% auto;
    /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #212121;
    width: 80%;
    /* Could be more or less, depending on screen size */
    border-radius: 25px;
}

/* Add Zoom Animation */

.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {
        -webkit-transform: scale(0)
    }
    to {
        -webkit-transform: scale(1)
    }
}

@keyframes animatezoom {
    from {
        transform: scale(0)
    }
    to {
        transform: scale(1)
    }
}

/*#endregion*/